<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Test Vue.js app</title>
	<link rel="stylesheet" href="">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<h1>Yo wazzup pizza bros.</h1>

	<!-- Basic Vue functionality -->
	
	<!-- declarative rendering {{ }} -->
	<div id="app">
	  {{ message }}
	</div>

	<!-- directives: reactive elements -->
	<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse over this text to see my dynamically bound title!
		</span>
	</div>

	<!-- Conditionals (v-if) -->
	<div id="app-3">
		<span v-if="seen">Now you see me</span>
	</div>

	<!-- Loops (v-for) -->
	<div id = "app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>

	<!-- user input -->
	<div id="user-input">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">Reverse message</button>
	</div>

	<!-- two way binding -->
	<div id="model">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>

	<!-- Composing with Components in Vue -->

	<div id="app-7">
		<ol>
			<todo-item
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id"
			></todo-item>
		</ol>
	</div>
	

	<ol>
		<todo-item></todo-item>	
	</ol>



</body>
<script src="script.js"></script>
</html>