<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The Vue Instance</title>
	<!-- https://vuejs.org/v2/guide/instance.html -->
	<link rel="stylesheet" href="">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<p>{{ foo }}</p>
		<button v-on:click="foo = 'baz'">Change it</button>
	</div>
</body>

<script>
	var obj = {
		foo: 'bar',
	}

	Object.freeze(obj)

	new Vue({
		el: '#app',
		data: obj
	})
</script>
</html>